# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
playground/
env/
ENV/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Video files
*.mp4
*.avi
*.mov
*.mkv

*.png
!**/assets/*.png